/* YELLOW */

.UP, .EXT, .UI, .QTY, .Doc, .POC, .Name, .Address, .ToAddress, .Phone, .ToPhone {
    background-color: yellow;
    grid-column: span 1;
}
.Description, .NSN, .Priority, .RequestJustification   {
    background-color: yellow;
    grid-column: span 2;
}
.Department, .SourceTo {
    grid-column: span 3;
    background-color: yellow;
}
.RDD {
    grid-column: span 4;
    background-color: yellow;
}

.ShipTo {
    grid-column: span 6;
    background-color: yellow;

}

/* NO COLOR */

.ShippingTotal, .GrandTotal, .DocNBlank, .JONBlank, .ItemOnAULBlank, .Hazmat, .HazmatBlank, .ServicesRadio, .Services, .SuppliesRadio, .Or, .Supplies {
    grid-column: span 1;
}
.Optar, .DocN, .JON, .ScreeningSection2, .RequestSuperPhone, .RequestSuperPhoneData, .PhoneData, .AddressData, .POCData, .ShippingCharges, .Data11, .Data13, .Data21, .Data23, .Data31, .Data33, .Data41, .Data43 {
    grid-column: span 2;
}
.ItemOnAUL, .ScreeningSection3, .RequestSuper, .RequestSuperData {
    grid-column: span 3;
}
.AOCHDate, .AOCHDateBlank, .OptarBlank , .ScreeningSection4, .RequestSuperDate, .RequestSuperDateData, .Blank {
    grid-column: span 4;
}
.AOCHPrintSign, .AOCHPrintSignBlank, .ToPhoneData, .ToAddressData, .NameData, .Grand{
    grid-column: span 5;
}
.JustificationData {
    grid-column: span 7;
}
.BottomHeader, .ScreenedFor {
    grid-column: span 9;
}


/* NO COLOR ODD SIZE */

.ScreeningSection12 {
    grid-column: span 1;
    grid-row: span 2;
}
.ScreeningSection22 {
    grid-column: span 2;
    grid-row: span 2;
}

.HazmatPO {
    grid-column: span 2;
    grid-row: span 2;
}
.HazmatPOBlank {
    grid-column: span 4;
    grid-row: span 2;
}

/* GRAY */

.BelowHeader {
    grid-column: span 9;
    background-color: gray;
}

b, a {
    border: none;
    word-wrap: break-word;

}

.GridLayout {
    page-break-after: always;
    width: auto;
    font-size: .7rem;
    font-family: Arial, Helvetica, sans-serif;
    
    /* width: auto; */

    height: auto;
    display: grid;
    grid-template-columns: 5.687rem 5.875rem 12.875rem 5.25rem 7rem 2.125rem 2.125rem 2.125rem 4.687rem;

    /* grid-template-columns: 91px 97px 203px 84px 112px 34px 34px 34px 75px; */
    grid-template-rows: 2.25rem 1.187rem 2.062rem 2.062rem 2.062rem 2.062rem 2.062rem 1.312rem 1.312rem 2.312rem 1.312rem 2.875rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem 3.062rem 3.062rem 3.062rem 3.062rem 3.062rem 3.062rem 1.437rem 1.062rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem 1.312rem ;
    /* grid-template-rows: 36px 19px 33px 33px 33px 33px 33px/ 21px 21px 37px 21px/ 46px/ 21px 21px 21px 21px 21px 21px 21px/ 49px 49px 49px 49px 49px 49px/ 23px 17px/ 21px 21px 21px 21px 21px 21px 21px; */
    /* grid-template-areas: 
    "Department Department Priority RDD"
    "Description Doc NSN QTY UI UP EXT"; */
}

.GridLayout > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid black
}

.GridLayout > div > * {
    margin-left: .1rem;
}

.ScreeningSection2, .ScreeningSection22, .ScreeningSection3 {
    font-size: .8rem;
    text-align: center;
    word-wrap: break-word;

}

.SuppliesRadio, .ServicesRadio {
    justify-content: center !important;
}

.IPRDataBox {
    width: 100%;
    height: 100%;
}

/* VIEW IPR GRID */
.ViewCurrentIPRGrid {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.GridLayoutIPR {
display: flex;
flex-direction: row;
justify-content: center;
gap: 1rem;
align-items: center;
}

.IPRFieldSet {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
}

.Grid22 {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: .2rem;
}

.IPRPrintArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

/* .IPRDataInput {
    height: 1.3rem;
} */

.IPRLabelDataInput {
    height: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.TogglePrints {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PrintRadio {
    margin-left: .5rem;
    margin-right: .5rem;
}

.RadioDiv {
    margin: .5rem 1rem;
}

@media print {
    * {
        font-size: 90%;
        print-color-adjust: exact;
    }
    
    .noPrint {
        display: none !important;
    }
    .IPRPrintArea {
        padding-top: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .TopNavBar {
        display: none;
    }
}