.TopNavBar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: rgb(23, 23, 135);
}

.UnderNav {
    width: 100%;
    height: 3.5rem;
}
/* 
.NavLink {
    display: inline-block;
    top: 0;
    background-color: red;
    width: 8rem;
    height: 3rem;
}

.NavDropLinks {
    display: inline-block;
    width: 8rem;
    height: 3rem;
}



#nav, #nav .NavUnorderedList {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav .NavLinkHead {
	display: block;
	width: 10em;
    padding-left: 1rem;
}

#nav .NavList {
	/* float: left; 
	width: 11em;
    height: 3rem;
}

.NavList {
    background-color: aqua;
}

.NavList:hover {
    background-color: rgb(42, 96, 96);
}

#nav .NavList .NavLinkHead {
    padding-top: .8rem;
}

#nav .NavList .NavUnorderedList {
	position: absolute;
	width: inherit;
	left: -999em;
    transition: all 3s ease-in-out;
    background-color: red;
    margin-top: .8rem;
}
/* #nav li ul a {
    padding: 1rem;
} 

#nav .NavList:hover .NavUnorderedList {
	left: auto;
}

#nav .NavList ul:hover .NavUnorderedList {
    left: auto;
}

.NavListItem {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.NavListItemLink {
    width: 100%;
    height: 100%;
}


 */


.NavBar {
    float: left;
    overflow: hidden;
}

.DropDown .DropBTN {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: .8rem 1rem;
    background-color: #171787;
    margin: 0;
}

.NavBar .NavListItemLink:hover, .DropDown:hover .DropBTN {
    background-color: #277ccc;
}

.DropDownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-sizing: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.DropDownContent .NavListItemLink {
    float: none;
    color: black;
    padding: .8rem 1rem;
    display: block;
    text-align: left;
}

.DropDownContent .NavListItemLink:hover {
    background-color: #ddd;
}

.DropDown:hover .DropDownContent {
    display: block;
}



.FlexRowCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FlexRowStartCenter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.FlexRowCenterCenter {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: center;
}

.FlexRowSpaceBetween {
    display: flex;
    flex-direction: row;
    justify-content: space-around !important;
}

.FlexColCenterCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FlexColStartCenter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.FlexColStartStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}