.CalDisplay {
  width: 30rem;
  height: auto;
}

.CalBox {
  width: 15rem;
  height: 30rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.EventItem {
  width: 100%;
  outline: 1px solid black;
  max-height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}
.EventItem:hover {
  max-height: 20rem;
}

.EventType {
  width: 10%;
}

.EventName {
  width: 90%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
}
.Done {
  float: right;
}

.EventContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.CalBoxDiv {
  gap: 1rem;
}