.CalDisplay {
  width: 30rem;
  height: auto;
}

.CalBox {
  width: 15rem;
  height: 30rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.EventItem {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.CalBoxDiv {
  gap: 1rem;
}